.button {
    button {
        font-family: inherit;
        display: inline-block;
        height: 2.6em;
        line-height: 2.5em;
        margin: 20px;
        position: relative;
        overflow: hidden;
        border: 0.146vw solid $colorNavbar;
        transition: color .5s;
        z-index: 1;
        border-radius: 0.439vw;
        font-weight: 500;
        color: $colorNavbar;
        font-size: 1.3vw;
        font-family: 'Cinzel', serif;
    }

    button:before {
        content: "";
        position: absolute;
        z-index: -1;
        background: $colorNavbar;
        height: 10.981vw;
        width: 24.158vw;
        border-radius: 50%;
    }

    button:hover {
        color: $colorBrand;
    }

    button:before {
        top: 100%;
        left: 100%;
        transition: all .7s;
    }

    button:hover:before {
        top: -2.196vw;
        left: -2.196vw;
    }

    button:active:before {
        background: $colorNavbar;
        transition: background 0s;
    }
}

@media screen and (min-width: 1500px) {
    .button {
        button {
            font-size: 1vw;
        }
    }
}

@media screen and (max-width: 450px) {
    .button {
        button {
            font-size: 2vw;
        }
    }


}