.divBtn {
    margin-left: auto;
    margin-right: 0;
    display: flex;
    align-items: center;

    .fa-lg {
        font-size: 1.464vw;
    }

    .btn {
        transition: none;

        &:hover {
            border: none;
        }

        i {
            color: $colorTexto;
        }
    }
}

@media screen and (min-width: 1500px) {
    .divBtn {
        .fa-lg {
            font-size: 1.2vw;
        }
    }
}

@media screen and (max-width: 992px) {
    .divBtn {
        .fa-lg {
            font-size: 2.464vw;
        }
    }
}

@media screen and (max-width: 600px) {
    .divBtn {
        .fa-lg {
            font-size: 3.464vw;
        }
    }
}

@media screen and (max-width: 450px) {
    .divBtn {
        .fa-lg {
            font-size: 4.464vw;
        }
    }
}