.divBtn{
    margin-left: auto;
    margin-right: 0;
    .btn{
        transition: none;
        &:hover{
            border: none;
        }
        i{
            color: $colorTexto;
        }
    }
}