.itemDetail {
    background-color: rgb(233, 233, 233);
    border: 0px solid transparent;
    -webkit-box-shadow: inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    border-radius: 30px;
    color: $colorNavbar;
    margin: 1%;

    h1 {
        margin-top: 2%;
        font-size: 2.8vw;
    }

    h3 {
        font-size: 2vw;
    }


    .imagePositionDifficultPriceBiography {
        display: flex;
        font-family: 'Poppins', sans-serif;

        .imagePositionDifficultPrice {
            margin: 2%;
            width: 100%;
            display: flex;
            flex-direction: column;

            img {
                width: 100%;
                max-height: 100%;
                border: 0px solid transparent;
                border-radius: 30px;
            }

            .positionDifficultPrice {
                margin-top: 2%;
                display: flex;
                flex-direction: column;
                display: grid;
                grid-template-areas: "columna1 columna2 columna3";

                h3 {
                    margin-top: 2%;
                }

                .position {
                    margin-top: 2%;
                    grid-area: columna1;
                }

                .difficultDad {
                    grid-area: columna2;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .difficult {
                        margin-left: 2%;
                        display: flex;
                    }
                }

                .price {
                    grid-area: columna3;
                }
            }
        }

        .biography {
            width: 100%;
            margin: 1%;
        }
    }
}

@media screen and (min-width: 1500px) {
    .itemDetail {

        h1 {
            font-size: 2.5vw;
        }

        h3 {
            font-size: 1.8vw;
        }


        .imagePositionDifficultPriceBiography {

            .imagePositionDifficultPrice {

                img {
                    width: 100%;
                    max-height: 70%;
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .itemDetail {

        h1 {
            font-size: 3.5vw;
        }

        h3 {
            font-size: 3vw;
        }

        .imagePositionDifficultPriceBiography {
            display: flex;
            flex-direction: column;

            .imagePositionDifficultPrice {

                img {
                    width: 80%;
                    max-height: 80%;
                    display: flex;
                    align-self: center;
                }
            }

            .biography {
                width: 90%;
                margin: 1%;
                display: flex;
                flex-direction: column;
                align-self: center;
            }
        }
    }
}